"use strict";

exports.mysql = {
  client: {
    host: "your host",
    port: "your port",
    user: "your user",
    password: "your password",
    database: "your database"
  }
};

exports.security = {
  csrf: false
};

exports.alinode = {
  enable: true,
  appid: "your appid",
  secret: "your secret"
};
