@import "../../themes/default";
@import "../../themes/common";

.home-page {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid grey;
  user-select: none;
  box-sizing: border-box;

  button {
    margin-right: 10px;
  }
}
