.home-page {
  padding: 0 15px;

  .msg-board {
    padding: 50px 0;

    &__title {
      text-align: center;
    }

    &__area {
      margin-bottom: 20px;
    }

    &__actions {
      text-align: right;
    }
  }
}
